.course-item {
    background-color: #f9f9f9;
    border: 1px solid hsl(0, 0%, 87%);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

h3 {
    margin: 0 0 0.5rem 0;
}

button:hover {
    background-color: #0056b3;
}

img {
    height: 3em;
    width: 3em;
}